PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/vastra_erp

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRATION=7d

CORS_ORIGIN=http://localhost:3000

SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=superadmin@vastra.com
SUPER_ADMIN_PASSWORD=SuperAdminPass123!
